<section class="product-breadcrumb text-left iq-font-white creative-banner">
    <div class="hero-footer" style="background-image: url('images/banner-curve.png')"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="">
          <h2 class="iq-font-white iq-tw-6">
              Home Router</h2>
          <p><a href="/#/" style="color: white;"><b>Home</b></a> > <a href="/#/products" style="color: white;"><b>Products</b></a> > <a href="/#/products/home-router" style="color: white;"><b>Home Router</b></a> > All Brands</p>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="main-content" ng-controller="productBrandController">

  <div class="container padd-80 product-list-sec">
    <div class="col-md-3 col-md-pull-9 main-side-bar">


      <div class="iq-sidebar-widget">
        <h5 class="iq-tw-6 small-title iq-font-dark">Categories</h5>
        <div class="iq-widget-menu">
        <ul class="iq-pl-0">
        <li  class="active" ng-repeat="item in category">
          <a ng-href="/#/products/{{ item.slug }}/brands">
            <img class="menu-cat" src="/images/{{item.icon}}.svg" alt="">
            <span>{{ item.title }} <i class="fa fa-angle-right"></i></span>
          </a>
        </li>
        </ul>
        </div>
        </div>




    </div>

    <div class="col-md-9 show-product" ng-repeat="item in brands">

        <div class="clearfix"></div>



        <div class="col-md-12 product-list-detail popular-product product">

            <div class="product-list-img">
                <a href="/#/products/home-router/brands/{{item.id}}">
                  <div class="bg-product">
                      <img ng-src="/uploads/images/{{item.thumbnail}}" width="220" height="180" />
                  </div>

                </a>
            </div>

              <div class="list product-body">
              <h2><a href="/#/products/home-router/brands/{{item.id}}">{{item.title}}</a></h2>

              <span>
                  {{item.description}}
                             </span>

              <div class="product-hover">
                 <div class="add-cart-hover"><a href="/#/products/home-router/brands/{{item.id}}"><h6>View more</h6> <i class="fa fa-angle-right"></i></a></div>

              </div>
              </div>




        </div>


        <div class="clearfix"></div>

    </div>


  </div>



</div>
