<div class="video-responsive">
  <video autoplay="autoplay" class="video" loop="loop"><source src="images/inter-bg.mp4" type="video/mp4"> Your browser does not support HTML5 video.</video>
  <canvas class="canvas" style="display: none;"></canvas>
  <div class="box-text-video">
    <div id="over_video">
      Welcome To Intertec<br>
      <span>Indonesian market for Information and Communication Technology</span>
    </div>
  </div>
</div>
<div class="main-content" ng-controller="aboutController">
  <section class="overview-block-ptb iq-hide">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="feature-aria"><img ng-repeat="k in data" ng-show="k.key == 'section1'" alt="" class="img-fluid wow fadeInLeft" data-wow-duration="1s" src="/uploads/images/{{k.file}}"></div>
        </div>
        <div class="col-lg-6 col-md-12 iq-re-9-mt50">
          <div class="iq-feature7 wow fadeInRight" data-wow-duration="1s">
            <div class="feature-aria">
              <div class="feature-content">
                <h3 class="iq-font-dark iq-tw-6 iq-mb-10" >About INTERTEC</h3>
                <p ng-repeat="k in data" ng-show="k.key == 'section1'">{{ k.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row iq-mt-50">
        <div class="col-lg-6 col-md-12">
          <div class="iq-feature7 wow fadeInLeft" data-wow-duration="1.5s">
            <div class="feature-aria">
              <div class="feature-content">
                <p ng-repeat="k in data" ng-show="k.key == 'section2'">{{ k.value }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 iq-re-9-mt50">
          <div class="feature-aria"><img ng-repeat="k in data" ng-show="k.key == 'section2'" alt="" class="img-fluid wow fadeInRight" data-wow-duration="1.5s" src="/uploads/images/{{k.file}}"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="overview-block-ptb iq-feature7 green-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12"><img ng-repeat="k in data" ng-show="k.key == 'vision'" alt="" class="img-fluid" src="/uploads/images/{{k.file}}"></div>
        <div class="col-lg-6 col-sm-12">
          <h3 class="iq-tw-6 small-title white iq-font-black iq-font-dark iq-mtb-15">Vision</h3>
          <div class="iq-font-white">
            <p ng-repeat="k in data" ng-show="k.key == 'vision'">{{ k.value }}</p>
            <h3 class="iq-tw-6 small-title white iq-font-black iq-font-dark iq-mtb-15">Mision</h3>
            <p>Providing guaranteed service and excellence support for our customer increasing numbers of sales target using both progressive and proactive ways.<br>
            Widening ditibution network aggressively to cover more demand from Master Dealers, Distributors, and Modern Channels</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
